/* Add this CSS to your stylesheet */
.agency-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.agency-card {
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.agency-card:hover {
  transform: scale(1.05);
}

.router-link {
  text-decoration: none;
  color: inherit;
}

.agency-picture {
  border-radius: 50%;
  margin-bottom: 10px;
}

.agency-info {
  padding: 10px;
}

.agency-name {
  margin: 0;
  font-size: 18px;
}

.agency-description {
  margin: 0;
  color: #555;
}