* {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }

  .container {
    max-width: 600px;
    margin: 10px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  .profile-form input[type="text"],
  .profile-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .profile-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
  }

  .profile-form button:hover {
    background-color: #45a049;
  }
  .center-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .center-label {
    text-align: center;
  }