<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="form">Forms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="dataTable">Data table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="changePassword">Change Password</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="uploadFiles">Upload files</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="signin">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register">Register</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img src="../../assets/pictures/deafultUserPhoto.jpg" width="35" height="30" alt="">
                    Filip Jankovic
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="profile">Profile</a>
                    <a class="dropdown-item" href="changePassword">Change password</a>
                    <a class="dropdown-item" href="logout">Logout</a>
                </div>
            </li>
        </ul>

    </div>
</nav>
