
<div class="topnav" id="myTopnav" *ngIf="userType=='guest'">
    <a href="home"                         >Home</a>
    <a href="agencies"                     >Agencije</a>
    <a href="signin"                       >Prijavi se</a>
    <a href="register"                     >Registracija</a>
    <a href="javascript:void(0);" class="icon" onclick="navBarFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<div class="topnav" id="myTopnav" *ngIf="userType=='client'">
    <a href="home"                         >Home</a>
    <a href="profile "                     >Pregled profila</a>
    <a href="changePassword"               >Promeni lozinku</a>
    <a href="objects"                      >Moji objekti</a>
    <a href="newobject"                    >Dodaj objekat</a>
    <a (click)="logout()" href="logout"                  >Logout</a>
    <a href="javascript:void(0);" class="icon" onclick="navBarFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<div class="topnav" id="myTopnav" *ngIf="userType=='agency'">
    <a href="home"                         >Home</a>
    <a href="profile "                     >Pregled profila</a>
    <a href="changePassword"               >Promeni lozinku</a>
    <a (click)="logout()" href="logout"                  >Logout</a>
    <a href="javascript:void(0);" class="icon" onclick="navBarFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<div class="topnav" id="myTopnav" *ngIf="userType=='admin'">
    <a href="regreq"                       >Pregled zahteva</a>
    <a href="profile "                     >Pregled profila</a>
    <a href="changePassword"               >Promeni lozinku</a>
    <a (click)="logout()" href="logout"                  >Logout</a>
    <a href="javascript:void(0);" class="icon" onclick="navBarFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>