<div class="filter-container" *ngIf="selectedStatus!=null">
    <label>Filtriraj:</label>
    <select [(ngModel)]="selectedStatus" (change)="applyFilter()">
      <option value="">Svi poslovi</option>
      <option value="requested">Ponudjeni</option>
      <option value="active">Aktivni</option>
      <option value="finished">Zavrseni</option>
      <option value="rejected">Obijeni</option>
    </select>
  </div>
<div class="table-responsive" *ngIf="filteredJobs!=null">
    <table class=table>
        <thead>
          <tr>
            <th>Datum pocetka radova</th>
            <th>Datum zavretka radova</th>
            <th>Cena radova</th>
            <th>status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let job of filteredJobs; let i = index" [ngStyle]="{'background-color': getJobColor(job.status)}">
            <td>{{ job.startDate }}</td>
            <td>{{ job.endDate }}</td>
            <td>{{job.cost}}</td>
            <td>{{job.status}}</td>
            <td>
              <button class="btn btn-primary" (click)="pregled(i)">Objekat</button>
              &nbsp;
              <button class="btn btn-primary" *ngIf="job.cost!=0" (click)="prihvatiPosao(i)">Prihvati posao</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
