<div class="centered-container" *ngIf="leaveCommentFormActive==true">
<form class="comment-form" >
  <div class="form-group">
    <label for="mark">Ocena rada:</label>
    <input class="form-control" type="number" id="mark" name="mark" [(ngModel)]="comment.mark" min="1" max="5" />
  </div>
  <div class="form-group">
    <label for="description">Tekst:</label>
    <textarea class="form-control" id="description" name="description" [(ngModel)]="comment.description"></textarea>
  </div>
  <button class="btn btn-primary" type="submit" (click)="ubaciKomentar()">Okaci komentar</button>
</form>
</div>
<div class="filter-container" *ngIf="selectedStatus!=null">
    <label>Filtriraj:</label>
    <select [(ngModel)]="selectedStatus" (change)="applyFilter()">
      <option value="">Svi poslovi</option>
      <option value="requested">Ponudjeni</option>
      <option value="active">Aktivni</option>
      <option value="finished">Zavrseni</option>
      <option value="rejected">Obijeni</option>
    </select>
  </div>
<div class="table-responsive" *ngIf="filteredJobs!=null && leaveCommentFormActive==false">
    <table class=table>
        <thead>
          <tr>
            <th>Datum pocetka radova</th>
            <th>Datum zavretka radova</th>
            <th>Ponuda agencije</th>
            <th>status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let job of filteredJobs; let i = index" [ngStyle]="{'background-color': getJobColor(job.status)}">
            <td>{{ job.startDate }}</td>
            <td>{{ job.endDate }}</td>
            <td>{{job.cost}}</td>
            <td>{{job.status}}</td>
            <td>
              <button class="btn btn-primary" (click)="pregled(i)">Objekat</button>
              &nbsp;
              <button class="btn btn-primary" (click)="plati(i)" *ngIf="checkIfactiveToPayJobsID(i)==true">Plati</button>
              &nbsp;
              <button class="btn btn-primary" (click)="ostaviKomentar(i)" *ngIf="job.status=='finished'">Komentar</button>
              &nbsp;
              <button class="btn btn-primary" *ngIf="job.cost!=0 && job.status=='requested'" (click)="prihvatiPosao(i)">Prihvati posao</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
