<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>
              <form>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg"  placeholder="Ime" [(ngModel)]='req.name' />
                </div>
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg"  placeholder="Prezime" [(ngModel)]='req.lastname'/>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" placeholder="Korisnicko ime" [(ngModel)]='req.username'/>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" placeholder="Lozinka" [(ngModel)]='req.password' [(ngModel)]='req.password'/>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" placeholder="Ponovo unesite lozinku" [(ngModel)]='req.passwordConfirmed'/>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg"  placeholder="Email adresa" [(ngModel)]='req.email'/>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg"  placeholder="Broj telefona" [(ngModel)]='req.phone'/>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" placeholder="Naziv agencije" [(ngModel)]='req.name'/>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" placeholder="Adresa sedista (država, grad, ulica, broj)" [(ngModel)]='req.address'/>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" placeholder="Maticni broj" [(ngModel)]='req.mnumber'/>
                </div>

                <div class="form-outline mb-4">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Opis" [(ngModel)]='req.description'></textarea>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg">Profilna slika</label>
                  <input type="file" class="form-control" id="customFile" placeholder="Profilna slika" />
                </div>

                <p class="text-center text-muted mt-5 mb-0">Već posedujete nalog? <a href="signin"
                    class="fw-bold text-body"><u>Prijavite se</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
